<%- include('partials/head') %>
<body>
    <%- include('partials/navbar') %>
    <div class="container" id="formulario-pergunta">
        <div class="card">
            <div class="card-header">
                <h3>Realizar pergunta</h3>
            </div>
            <div class="card-body">
                <form method="POST" action="/salvarpergunta">
                    <label for="titulo">Título</label>
                    <input name="titulo" id="titulo" type="text" placeholder="Título" class="form-control">
                    <label for="pergunta">Pergunta</label>
                    <textarea name="pergunta" id="pergunta" placeholder="escreva sua pergunta aqui..." class="form-control"></textarea>
                    <button class="btn btn-primary">Perguntar</button>
                </form>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>
</body>
</html>